*{
    font-family: 'Inter', sans-serif; 
}

body {
    background-image: url('./assets/background.jpg'); 
    background-size: cover; 
    height: 100vh;
    overflow: hidden;
    margin: 0px
}
.login_container_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.login_container{
    width: 600px;
    height: 560px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 5px #0000001a;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_title{
    font-size: 21px;
    text-align: center;
    margin-bottom: 40px;
}
.login_button{
    font-size: 15px;
    margin: 15px 0px;
    padding: 10px;
    display: flex;
    color:white;
    background-color: #294B79;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
    width: 350px;
}
.login_content_container{
    width:350px;
}
.login_input{
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 350px;
    border: 1px solid #294B79;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    background-color: #294B79;
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
}
li{
    margin-bottom: 20px;
}
nav{
    position: absolute;
    left: 0;
    top: 0;
}
.student_table_container{
    width: 60% !important;
}
.dashboard_heading{
    font-size: 27px;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 300;
}
.dashboard_wrapper{
    margin-left: 150px
}
.student_table{
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 5px #0000001a;
}
.th-ime{
    width: 150px;
    word-wrap: break-word;
}
.th-prezime{
    width: 250px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

/* th */
th {
    text-align: left;
}
.th-akcije{
    text-align:right !important;
}
th,td {
    padding: 10px;
}
tr:not(:first-child) { 
    border-bottom: 1px solid lightgray;
}

.student_form{
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 5px #0000001a;
}
.student_table_header{
    display: flex;
    justify-content: space-between;
}
.student_table_header_searchbar{
    display: flex;
    gap: 15px;
    align-items: center;
}
.content{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    gap: 110px;
}
.student_form input[type="text"] {
    /* width: 100%; */
    margin-bottom: 20px;
    padding: 5px;
}
.enter-student_form input{
    min-width: 300px;
    margin-top: 5px;
    padding:5px;
}
.enter-student_form{
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 5px #0000001a;
}
.enter_button{
    display: block;
    font-size: 15px;
    padding: 10px;
    color:white;
    margin-top: 15px;
    width: 150px;
    background-color: #294B79;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.student-form-container{
    width: auto;
}
.student_form_header{
    padding: 10px;
}
.save_student_form input{
    min-width: 300px;
    margin-top: 5px;
    padding:5px;
}
.save_button{
    display: block;
    font-size: 15px;
    padding: 10px;
    color:white;
    margin-top: 15px;
    width: 150px;
    background-color: #294B79;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}


/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 350px;
    padding: 25px;
    box-shadow: 0 0 5px #0000001a;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }